openapi: 3.0.3
info:
  title: Dona edu API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://donasky.com/license
servers:
  - url: https://donasky.com
  - url: http://localhost:8080
security:
  - BearerAuth: []
tags:
  - name: Auth
    description: Authentication APIs
  - name: Admin
    description: Admin management APIs
  - name: Users
    description: User search & public profiles
  - name: Rooms
    description: Room management APIs
  - name: Contests
    description: Contest management APIs
  - name: Problems
    description: Problem management APIs
  - name: Submissions
    description: Submission & judging APIs
  - name: Leaderboard
    description: Leaderboard APIs
  - name: Health
    description: Health check APIs
paths:
  /auth/register:
    post:
      tags:
        - Auth
      summary: Register new account
      operationId: authRegister
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              sample:
                value:
                  email: student01@dona.edu.vn
                  username: student01
                  password: P@ssw0rd123
                  displayName: Nguyễn Văn A
                  role: STUDENT
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '409':
          $ref: '#/components/responses/Error409'
  /auth/verify:
    post:
      tags:
        - Auth
      summary: Verify account email by token
      operationId: authVerify
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
            examples:
              sample:
                value:
                  token: vfy_eyJhbGciOi...
      responses:
        '200':
          description: Verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '404':
          $ref: '#/components/responses/Error404'
  /auth/resend-verify:
    post:
      tags:
        - Auth
      summary: Resend verification email
      operationId: authResendVerify
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerifyRequest'
            examples:
              sample:
                value:
                  email: student01@dona.edu.vn
      responses:
        '200':
          description: Sent (always ok to avoid user enumeration)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '429':
          $ref: '#/components/responses/Error429'
  /auth/login:
    post:
      tags:
        - Auth
      summary: Login
      operationId: authLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              login_by_email:
                value:
                  login: student01@dona.edu.vn
                  password: P@ssw0rd123
              login_by_username:
                value:
                  login: student01
                  password: P@ssw0rd123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
  /auth/logout:
    post:
      tags:
        - Auth
      summary: Logout
      operationId: authLogout
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
  /auth/me:
    get:
      tags:
        - Auth
      summary: Get current user profile
      operationId: authMe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          $ref: '#/components/responses/Error401'
  /auth/forgot-password:
    post:
      tags:
        - Auth
      summary: Send a temporary password to email
      description: Generates a one-time temporary password and sends it to the user's email. Always returns OK to prevent account enumeration.
      operationId: authForgotPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
            examples:
              sample:
                value:
                  email: student01@dona.edu.vn
      responses:
        '200':
          description: Sent (always ok)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '429':
          $ref: '#/components/responses/Error429'
  /auth/change-password:
    post:
      tags:
        - Auth
      summary: Change password (logged-in user)
      operationId: authChangePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
            examples:
              sample:
                value:
                  currentPassword: P@ssw0rd123
                  newPassword: NewP@ssw0rd123
      responses:
        '200':
          description: Changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /admin/users:
    get:
      tags:
        - Admin
      summary: List users (admin)
      operationId: adminListUsers
      parameters:
        - name: q
          in: query
          required: false
          description: Search by email/username/displayName
          schema:
            type: string
        - name: role
          in: query
          required: false
          schema:
            type: string
        - name: isLocked
          in: query
          required: false
          schema:
            type: boolean
        - name: isVerified
          in: query
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /admin/users/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Admin
      summary: Get user detail (admin)
      operationId: adminGetUserDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /admin/users/{userId}/lock:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Admin
      summary: Lock a user account
      operationId: adminLockUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLockRequest'
            examples:
              sample:
                value:
                  reason: Suspicious activity / spam
      responses:
        '200':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /admin/users/{userId}/unlock:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Admin
      summary: Unlock a user account
      operationId: adminUnlockUser
      responses:
        '200':
          description: Unlocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /admin/users/{userId}/reset-password:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Admin
      summary: Reset user password (admin)
      description: Resets user's password and optionally sends the new password to user's email.
      operationId: adminResetUserPassword
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminResetPasswordRequest'
            examples:
              send_email:
                value:
                  sendEmail: true
      responses:
        '200':
          description: Reset success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminResetPasswordResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '429':
          $ref: '#/components/responses/Error429'
  /users/search:
    get:
      tags:
        - Users
      summary: Search users
      operationId: usersSearch
      parameters:
        - name: q
          in: query
          required: true
          description: Keyword to search by username or displayName
          schema:
            type: string
            minLength: 1
            example: nguyen
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSearchResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /users/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Users
      summary: Get user public profile
      operationId: usersGetById
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPublicDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /rooms:
    post:
      tags:
        - Rooms
      summary: Create room
      operationId: roomCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomCreateResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
    get:
      tags:
        - Rooms
      summary: List rooms
      operationId: roomList
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
        - name: isArchived
          in: query
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /rooms/{roomId}:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Rooms
      summary: Get room detail
      operationId: roomGetDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    put:
      tags:
        - Rooms
      summary: Update room
      operationId: roomUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    delete:
      tags:
        - Rooms
      summary: Delete room
      operationId: roomDelete
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /rooms/{roomId}/archive:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Rooms
      summary: Archive room
      operationId: roomArchive
      responses:
        '200':
          description: Archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /rooms/{roomId}/members:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Rooms
      summary: List room members
      operationId: roomListMembers
      parameters:
        - name: q
          in: query
          required: false
          description: Search by username/displayName
          schema:
            type: string
        - name: roleInRoom
          in: query
          required: false
          schema:
            type: string
            enum:
              - OWNER
              - TEACHER
              - STUDENT
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomMemberListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      tags:
        - Rooms
      summary: Add members to room
      operationId: roomAddMembers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomMemberAddRequest'
            examples:
              add_students:
                value:
                  userIds:
                    - 1001
                    - 1002
                  roleInRoom: STUDENT
      responses:
        '200':
          description: Added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomMemberAddResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /rooms/{roomId}/members/{userId}:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      tags:
        - Rooms
      summary: Remove member from room
      operationId: roomRemoveMember
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /rooms/{roomId}/contests:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags:
        - Contests
      summary: Create contest in room
      operationId: contestCreateInRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContestCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestCreateResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    get:
      tags:
        - Contests
      summary: List contests in room
      operationId: contestListInRoom
      parameters:
        - name: q
          in: query
          required: false
          description: Search by title
          schema:
            type: string
        - name: isPublished
          in: query
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /contests/{contestId}:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Contests
      summary: Get contest detail
      operationId: contestGetDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    put:
      tags:
        - Contests
      summary: Update contest
      operationId: contestUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContestUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    delete:
      tags:
        - Contests
      summary: Delete contest
      operationId: contestDelete
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /contests/{contestId}/publish:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Contests
      summary: Publish contest
      operationId: contestPublish
      responses:
        '200':
          description: Published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /contests/{contestId}/unpublish:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Contests
      summary: Unpublish contest
      operationId: contestUnpublish
      responses:
        '200':
          description: Unpublished
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /contests/{contestId}/problems:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Contests
      summary: List problems assigned to contest
      operationId: contestListProblems
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 200
        - name: sort
          in: query
          required: false
          description: 'Example: ordinal,asc'
          schema:
            type: string
            example: ordinal,asc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestProblemListResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      tags:
        - Contests
      summary: Assign problems to contest
      operationId: contestAssignProblems
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContestProblemAssignRequest'
            examples:
              sample:
                value:
                  items:
                    - problemId: 101
                      ordinal: 1
                      score: 100
                    - problemId: 102
                      ordinal: 2
                      score: 100
      responses:
        '200':
          description: Assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestProblemAssignResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /contests/{contestId}/problems/{problemId}:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      tags:
        - Contests
      summary: Remove a problem from contest
      operationId: contestRemoveProblem
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /rooms/{roomId}/problems:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags:
        - Problems
      summary: Create problem in room
      operationId: problemCreateInRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProblemCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemCreateResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    get:
      tags:
        - Problems
      summary: List problems in room
      operationId: problemListInRoom
      parameters:
        - name: q
          in: query
          required: false
          description: Search by title
          schema:
            type: string
        - name: isPublished
          in: query
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /problems/{problemId}:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Problems
      summary: Get problem detail
      operationId: problemGetDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    put:
      tags:
        - Problems
      summary: Update problem
      operationId: problemUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProblemUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    delete:
      tags:
        - Problems
      summary: Delete problem
      operationId: problemDelete
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /problems/{problemId}/publish:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Problems
      summary: Publish problem
      operationId: problemPublish
      responses:
        '200':
          description: Published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /problems/{problemId}/unpublish:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Problems
      summary: Unpublish problem
      operationId: problemUnpublish
      responses:
        '200':
          description: Unpublished
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleOkResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /problems/{problemId}/submissions:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags:
        - Submissions
      summary: Create a submission for a problem
      operationId: submissionCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionCreateRequest'
            examples:
              practice:
                value:
                  language: CPP
                  sourceCode: |-
                    #include <bits/stdc++.h>
                    int main(){long long a,b;std::cin>>a>>b;std::cout<<a+b;}
              contest:
                value:
                  contestId: 501
                  language: CPP
                  sourceCode: |-
                    #include <bits/stdc++.h>
                    int main(){long long a,b;std::cin>>a>>b;std::cout<<a+b;}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionCreatedResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /submissions:
    get:
      tags:
        - Submissions
      summary: List my submissions
      operationId: submissionListMine
      parameters:
        - name: roomId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: contestId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: problemId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: judgeStatus
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/JudgeStatus'
        - name: verdict
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Verdict'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
  /submissions/{submissionId}:
    parameters:
      - name: submissionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Submissions
      summary: Get submission detail
      operationId: submissionGetDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionDetailResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /rooms/{roomId}/submissions:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Submissions
      summary: List submissions in a room (teacher/admin)
      operationId: submissionListByRoom
      parameters:
        - name: contestId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: problemId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: userId
          in: query
          required: false
          description: Filter by student userId
          schema:
            type: integer
            format: int64
        - name: judgeStatus
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/JudgeStatus'
        - name: verdict
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Verdict'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /contests/{contestId}/leaderboard:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Leaderboard
      summary: Get contest leaderboard (paged)
      operationId: contestGetLeaderboard
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 200
        - name: sort
          in: query
          required: false
          description: 'Example: totalScore,desc | rank,asc | lastSubmissionAt,asc'
          schema:
            type: string
            example: totalScore,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardPagedResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /health:
    get:
      tags:
        - Health
      summary: Health check
      operationId: healthRoot
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /health/judge:
    get:
      tags:
        - Health
      summary: Judge service health check
      operationId: healthJudge
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JudgeHealthResponse'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    RegisterRole:
      type: string
      enum:
        - STUDENT
        - TEACHER
      example: STUDENT
    RegisterRequest:
      type: object
      required:
        - email
        - username
        - password
        - displayName
      properties:
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
        username:
          type: string
          description: Unique username for login / display
          minLength: 3
          maxLength: 30
          pattern: ^[a-zA-Z0-9_\.]+$
          example: student01
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 72
          example: P@ssw0rd123
        displayName:
          type: string
          minLength: 1
          maxLength: 100
          example: Nguyễn Văn A
        role:
          $ref: '#/components/schemas/RegisterRole'
    RegisterResponse:
      type: object
      required:
        - userId
        - email
        - username
        - displayName
        - isVerified
      properties:
        userId:
          type: integer
          format: int64
          example: 1001
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
        username:
          type: string
          example: student01
        displayName:
          type: string
          example: Nguyễn Văn A
        role:
          $ref: '#/components/schemas/RegisterRole'
        isVerified:
          type: boolean
          example: false
    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: E_VALIDATION
        message:
          type: string
          example: Invalid request
        details:
          type: object
          additionalProperties: true
          properties:
            fieldErrors:
              type: array
              description: Validation errors per field
              items:
                type: object
                required:
                  - field
                  - reason
                properties:
                  field:
                    type: string
                    example: email
                  reason:
                    type: string
                    example: must be a well-formed email address
    VerifyRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: Verify token from email
          example: vfy_eyJhbGciOi...
    SimpleOkResponse:
      type: object
      required:
        - ok
      properties:
        ok:
          type: boolean
          example: true
    ResendVerifyRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
    LoginRequest:
      type: object
      required:
        - login
        - password
      properties:
        login:
          type: string
          description: Email or username
          example: student01@dona.edu.vn
        password:
          type: string
          format: password
          example: P@ssw0rd123
    MeResponse:
      type: object
      required:
        - id
        - email
        - username
        - displayName
        - role
        - isVerified
      properties:
        id:
          type: integer
          format: int64
          example: 1001
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
        username:
          type: string
          example: student01
        displayName:
          type: string
          example: Nguyễn Văn A
        role:
          type: string
          example: STUDENT
        isVerified:
          type: boolean
          example: true
    TokenPair:
      type: object
      required:
        - accessToken
        - tokenType
        - expiresIn
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        tokenType:
          type: string
          example: Bearer
        expiresIn:
          type: integer
          format: int32
          description: seconds
          example: 3600
        refreshToken:
          type: string
          nullable: true
          description: Optional (only if you implement refresh flow)
          example: rfr_eyJhbGciOi...
    LoginResponse:
      type: object
      required:
        - user
        - tokens
      properties:
        user:
          $ref: '#/components/schemas/MeResponse'
        tokens:
          $ref: '#/components/schemas/TokenPair'
    ForgotPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
    ChangePasswordRequest:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
          format: password
          example: P@ssw0rd123
        newPassword:
          type: string
          format: password
          minLength: 8
          example: NewP@ssw0rd123
    AdminUserSummary:
      type: object
      required:
        - id
        - email
        - username
        - displayName
        - role
        - isVerified
        - isLocked
        - createdAt
      properties:
        id:
          type: integer
          format: int64
          example: 1001
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
        username:
          type: string
          example: student01
        displayName:
          type: string
          example: Nguyễn Văn A
        role:
          type: string
          example: STUDENT
        isVerified:
          type: boolean
          example: true
        isLocked:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
    Paging:
      type: object
      required:
        - page
        - size
        - totalElements
        - totalPages
        - hasNext
      properties:
        page:
          type: integer
          format: int32
          minimum: 0
          example: 0
        size:
          type: integer
          format: int32
          minimum: 1
          example: 20
        totalElements:
          type: integer
          format: int64
          example: 1250
        totalPages:
          type: integer
          format: int32
          example: 63
        hasNext:
          type: boolean
          example: true
    AdminUserListResponse:
      type: object
      required:
        - items
        - page
        - size
        - total
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdminUserSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    AdminUserDetail:
      allOf:
        - $ref: '#/components/schemas/AdminUserSummary'
        - type: object
          properties:
            lockedAt:
              type: string
              format: date-time
              nullable: true
            lockReason:
              type: string
              nullable: true
    AdminLockRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          maxLength: 255
          example: Suspicious activity / spam
    AdminResetPasswordRequest:
      type: object
      properties:
        sendEmail:
          type: boolean
          default: true
          description: Send new password to user's email
          example: true
    AdminResetPasswordResponse:
      type: object
      required:
        - ok
      properties:
        ok:
          type: boolean
          example: true
        tempPassword:
          type: string
          nullable: true
          description: Optional. Only returned if server policy allows showing it to admin.
          example: X9p2@K1m
    UserPublicSummary:
      type: object
      required:
        - id
        - username
        - displayName
      properties:
        id:
          type: integer
          format: int64
          example: 1001
        username:
          type: string
          example: student01
        displayName:
          type: string
          example: Nguyễn Văn A
        avatarUrl:
          type: string
          nullable: true
          example: https://cdn.example.com/avatars/1001.png
    UserSearchResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserPublicSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    UserPublicDetail:
      type: object
      required:
        - id
        - username
        - displayName
      properties:
        id:
          type: integer
          format: int64
          example: 1001
        username:
          type: string
          example: student01
        displayName:
          type: string
          example: Nguyễn Văn A
        avatarUrl:
          type: string
          nullable: true
          example: https://cdn.example.com/avatars/1001.png
        bio:
          type: string
          nullable: true
          example: Học sinh lớp 10 chuyên Toán
        createdAt:
          type: string
          format: date-time
          nullable: true
    RoomSummary:
      type: object
      required:
        - id
        - name
        - isArchived
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Lớp 10A1 - Tin học
        isPublic:
          type: boolean
          example: false
        isArchived:
          type: boolean
          example: false
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: integer
          format: int64
          description: Creator userId
          example: 9001
    RoomListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RoomSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    RoomCreateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
          example: Lớp 10A1 - Tin học
        description:
          type: string
          nullable: true
          maxLength: 2000
          example: Phòng luyện tập và thi thử
        startAt:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-01T00:00:00Z'
        endAt:
          type: string
          format: date-time
          nullable: true
          example: '2026-06-01T00:00:00Z'
        isPublic:
          type: boolean
          default: false
          example: false
    RoomCreateResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
          example: 1
    RoomDetail:
      allOf:
        - $ref: '#/components/schemas/RoomSummary'
        - type: object
          properties:
            description:
              type: string
              nullable: true
            archivedAt:
              type: string
              format: date-time
              nullable: true
    RoomUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 2000
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        isPublic:
          type: boolean
          nullable: true
    RoomMemberSummary:
      type: object
      required:
        - userId
        - username
        - displayName
        - roleInRoom
        - joinedAt
      properties:
        userId:
          type: integer
          format: int64
          example: 1001
        username:
          type: string
          example: student01
        displayName:
          type: string
          example: Nguyễn Văn A
        roleInRoom:
          type: string
          description: Role of the user inside the room
          enum:
            - OWNER
            - TEACHER
            - STUDENT
          example: STUDENT
        joinedAt:
          type: string
          format: date-time
          example: '2026-02-26T10:00:00Z'
    RoomMemberListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RoomMemberSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    RoomMemberAddRequest:
      type: object
      required:
        - userIds
      properties:
        userIds:
          type: array
          minItems: 1
          items:
            type: integer
            format: int64
          example:
            - 1001
            - 1002
        roleInRoom:
          type: string
          nullable: true
          enum:
            - TEACHER
            - STUDENT
          description: Optional. Default STUDENT if omitted.
          example: STUDENT
    RoomMemberAddResponse:
      type: object
      required:
        - addedCount
      properties:
        addedCount:
          type: integer
          format: int32
          example: 2
    ContestSummary:
      type: object
      required:
        - id
        - roomId
        - title
        - isPublished
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          example: 501
        roomId:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: Thi thử vòng 1 - Tuần 3
        isPublic:
          type: boolean
          example: false
        isPublished:
          type: boolean
          example: false
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: integer
          format: int64
          example: 9001
    ContestListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ContestSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    ContestCreateRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          example: Thi thử vòng 1 - Tuần 3
        description:
          type: string
          nullable: true
          maxLength: 5000
          example: Contest luyện tập cho học sinh
        startAt:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-05T01:00:00Z'
        endAt:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-05T03:00:00Z'
        isPublic:
          type: boolean
          default: false
          example: false
    ContestCreateResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
          example: 501
    ContestDetail:
      allOf:
        - $ref: '#/components/schemas/ContestSummary'
        - type: object
          properties:
            description:
              type: string
              nullable: true
            publishedAt:
              type: string
              format: date-time
              nullable: true
    ContestUpdateRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 5000
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        isPublic:
          type: boolean
          nullable: true
    ContestProblemSummary:
      type: object
      required:
        - problemId
        - ordinal
        - score
      properties:
        problemId:
          type: integer
          format: int64
          example: 101
        ordinal:
          type: integer
          format: int32
          description: Problem order in contest (1..N)
          example: 1
        score:
          type: number
          format: float
          description: Max score for this problem in contest
          example: 100
        title:
          type: string
          nullable: true
          description: Optional problem title for display
          example: A + B
        isPublished:
          type: boolean
          nullable: true
          description: Optional problem publish flag (if your system has it)
          example: true
    ContestProblemListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ContestProblemSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    ContestProblemAssignItem:
      type: object
      required:
        - problemId
      properties:
        problemId:
          type: integer
          format: int64
          example: 101
        ordinal:
          type: integer
          format: int32
          nullable: true
          description: Optional. If omitted, append to the end.
          example: 1
        score:
          type: number
          format: float
          nullable: true
          description: Optional. If omitted, use default problem max score.
          example: 100
    ContestProblemAssignRequest:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ContestProblemAssignItem'
    ContestProblemAssignResponse:
      type: object
      required:
        - assignedCount
      properties:
        assignedCount:
          type: integer
          format: int32
          example: 2
    ProblemSummary:
      type: object
      required:
        - id
        - roomId
        - title
        - isPublished
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          example: 101
        roomId:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: A + B
        difficulty:
          type: string
          nullable: true
          example: EASY
        isPublic:
          type: boolean
          example: false
        isPublished:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: integer
          format: int64
          example: 9001
    ProblemListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProblemSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    ProblemCreateRequest:
      type: object
      required:
        - title
        - statement
        - timeLimitMs
        - memoryLimitMb
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          example: A + B
        statement:
          type: string
          minLength: 1
          maxLength: 50000
          description: Problem statement (markdown or plain text)
          example: Given two integers a and b, output a+b.
        inputSpec:
          type: string
          nullable: true
          maxLength: 20000
          example: Two integers a and b.
        outputSpec:
          type: string
          nullable: true
          maxLength: 20000
          example: Print a+b.
        constraints:
          type: string
          nullable: true
          maxLength: 20000
          example: 0 ≤ a,b ≤ 10^9
        timeLimitMs:
          type: integer
          format: int32
          minimum: 100
          maximum: 60000
          example: 1000
        memoryLimitMb:
          type: integer
          format: int32
          minimum: 32
          maximum: 2048
          example: 256
        difficulty:
          type: string
          nullable: true
          description: Optional difficulty label
          example: EASY
        isPublic:
          type: boolean
          default: false
          example: false
    ProblemCreateResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
          example: 101
    ProblemDetail:
      allOf:
        - $ref: '#/components/schemas/ProblemSummary'
        - type: object
          properties:
            statement:
              type: string
            inputSpec:
              type: string
              nullable: true
            outputSpec:
              type: string
              nullable: true
            constraints:
              type: string
              nullable: true
            timeLimitMs:
              type: integer
              format: int32
            memoryLimitMb:
              type: integer
              format: int32
            publishedAt:
              type: string
              format: date-time
              nullable: true
    ProblemUpdateRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        statement:
          type: string
          minLength: 1
          maxLength: 50000
        inputSpec:
          type: string
          nullable: true
          maxLength: 20000
        outputSpec:
          type: string
          nullable: true
          maxLength: 20000
        constraints:
          type: string
          nullable: true
          maxLength: 20000
        timeLimitMs:
          type: integer
          format: int32
          minimum: 100
          maximum: 60000
        memoryLimitMb:
          type: integer
          format: int32
          minimum: 32
          maximum: 2048
        difficulty:
          type: string
          nullable: true
        isPublic:
          type: boolean
          nullable: true
    LanguageCode:
      type: string
      description: Supported languages
      enum:
        - CPP
        - PY
    SubmissionCreateRequest:
      type: object
      required:
        - language
        - sourceCode
      properties:
        contestId:
          type: integer
          format: int64
          nullable: true
          description: Null = practice. Non-null = submit in contest context.
          example: 501
        language:
          $ref: '#/components/schemas/LanguageCode'
        sourceCode:
          type: string
          description: Plain source code (Phase 1)
          maxLength: 200000
    JudgeStatus:
      type: string
      enum:
        - QUEUED
        - JUDGING
        - DONE
        - FAILED
    SubmissionCreatedResponse:
      type: object
      required:
        - id
        - judgeStatus
        - createdAt
      properties:
        id:
          type: integer
          format: int64
          example: 123
        judgeStatus:
          $ref: '#/components/schemas/JudgeStatus'
        createdAt:
          type: string
          format: date-time
    Verdict:
      type: string
      enum:
        - AC
        - WA
        - RE
        - TLE
        - CE
    SubmissionSummary:
      type: object
      required:
        - id
        - problemId
        - userId
        - language
        - judgeStatus
        - createdAt
      properties:
        id:
          type: integer
          format: int64
        roomId:
          type: integer
          format: int64
          nullable: true
        contestId:
          type: integer
          format: int64
          nullable: true
        problemId:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        language:
          $ref: '#/components/schemas/LanguageCode'
        judgeStatus:
          $ref: '#/components/schemas/JudgeStatus'
        verdict:
          $ref: '#/components/schemas/Verdict'
        score:
          type: number
          format: float
          nullable: true
          description: Contest score (if contestId != null)
        totalTimeMs:
          type: integer
          format: int32
          nullable: true
          description: max(timeMs) across tests. Null if CE or not ready.
        createdAt:
          type: string
          format: date-time
    SubmissionListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SubmissionSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    PerTestVerdict:
      type: string
      enum:
        - AC
        - WA
        - RE
        - TLE
    PerTestResult:
      type: object
      required:
        - testNo
        - verdict
        - timeMs
      properties:
        testNo:
          type: integer
          format: int32
          description: 1..N
        verdict:
          $ref: '#/components/schemas/PerTestVerdict'
        timeMs:
          type: integer
          format: int32
        memoryKb:
          type: integer
          format: int32
          nullable: true
    SubmissionDetailResponse:
      type: object
      required:
        - id
        - problemId
        - userId
        - language
        - judgeStatus
        - createdAt
      properties:
        id:
          type: integer
          format: int64
        roomId:
          type: integer
          format: int64
          nullable: true
        contestId:
          type: integer
          format: int64
          nullable: true
        problemId:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        language:
          $ref: '#/components/schemas/LanguageCode'
        judgeStatus:
          $ref: '#/components/schemas/JudgeStatus'
        verdict:
          $ref: '#/components/schemas/Verdict'
        score:
          type: number
          format: float
          nullable: true
        totalTimeMs:
          type: integer
          format: int32
          nullable: true
        compileLog:
          type: string
          nullable: true
          description: Present when verdict=CE
        testResults:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/PerTestResult'
          description: Present when judgeStatus=DONE and verdict != CE
        sourceCode:
          type: string
          nullable: true
          description: Owner can see; teacher/admin may see based on policy
    LeaderboardRow:
      type: object
      required:
        - rank
        - userId
        - username
        - displayName
        - totalScore
      properties:
        rank:
          type: integer
          format: int32
          example: 1
        userId:
          type: integer
          format: int64
          example: 1001
        username:
          type: string
          example: student01
        displayName:
          type: string
          example: Nguyễn Văn A
        problemScores:
          type: array
          description: Scores aligned with contest problems order
          items:
            type: number
            format: float
          example:
            - 100
            - 80
            - 100
        totalScore:
          type: number
          format: float
          example: 280
        lastSubmissionAt:
          type: string
          format: date-time
          nullable: true
    LeaderboardPagedResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LeaderboardRow'
        paging:
          $ref: '#/components/schemas/Paging'
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          example: UP
        timestamp:
          type: string
          format: date-time
        details:
          type: object
          nullable: true
          additionalProperties: true
    JudgeHealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          example: UP
        timestamp:
          type: string
          format: date-time
        queueDepth:
          type: integer
          format: int32
          nullable: true
          example: 0
        workers:
          type: integer
          format: int32
          nullable: true
          example: 2
        details:
          type: object
          nullable: true
          additionalProperties: true
    ResetPasswordRequest:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
          description: Reset token from email
          example: rst_eyJhbGciOi...
        newPassword:
          type: string
          format: password
          minLength: 8
          example: NewP@ssw0rd123
  responses:
    Error400:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_INVALID_REQUEST:
              value:
                code: E_INVALID_REQUEST
                message: Invalid request
            E_VALIDATION:
              value:
                code: E_VALIDATION
                message: Validation error
            E_MISSING_FIELD:
              value:
                code: E_MISSING_FIELD
                message: Missing required field
            E_INVALID_FIELD_FORMAT:
              value:
                code: E_INVALID_FIELD_FORMAT
                message: Invalid field format
            E_INVALID_ENUM:
              value:
                code: E_INVALID_ENUM
                message: Invalid enum value
            E_MALFORMED_JSON:
              value:
                code: E_MALFORMED_JSON
                message: Malformed JSON
    Error409:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_CONFLICT:
              value:
                code: E_CONFLICT
                message: Conflict
            E_ALREADY_EXISTS:
              value:
                code: E_ALREADY_EXISTS
                message: Already exists
            E_DUPLICATE:
              value:
                code: E_DUPLICATE
                message: Duplicate data
            E_VERSION_CONFLICT:
              value:
                code: E_VERSION_CONFLICT
                message: Version conflict
            E_STATE_INVALID:
              value:
                code: E_STATE_INVALID
                message: Invalid state
            E_RULE_VIOLATION:
              value:
                code: E_RULE_VIOLATION
                message: Business rule violation
            E_JOB_NOT_READY:
              value:
                code: E_JOB_NOT_READY
                message: Job not ready
            E_JOB_FAILED:
              value:
                code: E_JOB_FAILED
                message: Job failed
    Error404:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_NOT_FOUND:
              value:
                code: E_NOT_FOUND
                message: Not found
            E_REFERENCE_NOT_FOUND:
              value:
                code: E_REFERENCE_NOT_FOUND
                message: Referenced resource not found
            E_FILE_NOT_FOUND:
              value:
                code: E_FILE_NOT_FOUND
                message: File not found
    Error429:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_RATE_LIMITED:
              value:
                code: E_RATE_LIMITED
                message: Rate limited
            E_TOO_MANY_ATTEMPTS:
              value:
                code: E_TOO_MANY_ATTEMPTS
                message: Too many attempts
    Error401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_AUTH_REQUIRED:
              value:
                code: E_AUTH_REQUIRED
                message: Authentication required
            E_AUTH_INVALID_TOKEN:
              value:
                code: E_AUTH_INVALID_TOKEN
                message: Invalid token
            E_AUTH_TOKEN_EXPIRED:
              value:
                code: E_AUTH_TOKEN_EXPIRED
                message: Token expired
            E_AUTH_SESSION_REVOKED:
              value:
                code: E_AUTH_SESSION_REVOKED
                message: Session revoked
            E_AUTH_INVALID_CREDENTIALS:
              value:
                code: E_AUTH_INVALID_CREDENTIALS
                message: Invalid credentials
            E_AUTH_MFA_INVALID:
              value:
                code: E_AUTH_MFA_INVALID
                message: Invalid MFA/OTP
    Error403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_FORBIDDEN:
              value:
                code: E_FORBIDDEN
                message: Forbidden
            E_AUTH_ACCOUNT_DISABLED:
              value:
                code: E_AUTH_ACCOUNT_DISABLED
                message: Account disabled
            E_AUTH_NOT_VERIFIED:
              value:
                code: E_AUTH_NOT_VERIFIED
                message: Account not verified
            E_AUTH_MFA_REQUIRED:
              value:
                code: E_AUTH_MFA_REQUIRED
                message: MFA required
            E_ROLE_NOT_ALLOWED:
              value:
                code: E_ROLE_NOT_ALLOWED
                message: Role not allowed
            E_RESOURCE_ACCESS_DENIED:
              value:
                code: E_RESOURCE_ACCESS_DENIED
                message: Resource access denied
            E_NOT_ALLOWED:
              value:
                code: E_NOT_ALLOWED
                message: Operation not allowed
            E_CAPTCHA_REQUIRED:
              value:
                code: E_CAPTCHA_REQUIRED
                message: Captcha required
    Error412:
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_PRECONDITION_FAILED:
              value:
                code: E_PRECONDITION_FAILED
                message: Precondition failed
    Error413:
      description: Payload Too Large
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_PAYLOAD_TOO_LARGE:
              value:
                code: E_PAYLOAD_TOO_LARGE
                message: Payload too large
            E_FILE_TOO_LARGE:
              value:
                code: E_FILE_TOO_LARGE
                message: File too large
    Error415:
      description: Unsupported Media Type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_UNSUPPORTED_MEDIA_TYPE:
              value:
                code: E_UNSUPPORTED_MEDIA_TYPE
                message: Unsupported media type
            E_FILE_TYPE_NOT_ALLOWED:
              value:
                code: E_FILE_TYPE_NOT_ALLOWED
                message: File type not allowed
    Error422:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_UNPROCESSABLE_ENTITY:
              value:
                code: E_UNPROCESSABLE_ENTITY
                message: Unprocessable entity
    Error500:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_INTERNAL:
              value:
                code: E_INTERNAL
                message: Internal error
    Error501:
      description: Not Implemented
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_NOT_IMPLEMENTED:
              value:
                code: E_NOT_IMPLEMENTED
                message: Not implemented
    Error502:
      description: Bad Gateway
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_DEPENDENCY_FAILURE:
              value:
                code: E_DEPENDENCY_FAILURE
                message: Dependency failure
            E_NETWORK_ERROR:
              value:
                code: E_NETWORK_ERROR
                message: Network error
    Error503:
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_DEPENDENCY_UNAVAILABLE:
              value:
                code: E_DEPENDENCY_UNAVAILABLE
                message: Dependency unavailable
            E_QUEUE_OVERLOADED:
              value:
                code: E_QUEUE_OVERLOADED
                message: Queue overloaded
            E_RETRY_LATER:
              value:
                code: E_RETRY_LATER
                message: Retry later
            E_STORAGE_FAILURE:
              value:
                code: E_STORAGE_FAILURE
                message: Storage failure
            E_UNAVAILABLE:
              value:
                code: E_UNAVAILABLE
                message: Service unavailable
    Error504:
      description: Gateway Timeout
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            E_DEPENDENCY_TIMEOUT:
              value:
                code: E_DEPENDENCY_TIMEOUT
                message: Dependency timeout
            E_TIMEOUT:
              value:
                code: E_TIMEOUT
                message: Timeout
