openapi: 3.0.3
info:
  title: Dona edu API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://donasky.com/license
servers:
  - url: https://donasky.com
  - url: http://localhost:8080
security:
  - BearerAuth: []
tags:
  - name: Auth
    description: Authentication APIs
  - name: Admin
    description: Admin management APIs
  - name: Users
    description: User search & public profiles
  - name: Rooms
    description: Room management APIs
  - name: Contests
    description: Contest management APIs
  - name: Problems
    description: Problem management APIs
  - name: Submissions
    description: Submission & judging APIs
  - name: Leaderboard
    description: Leaderboard APIs
  - name: Health
    description: Health check APIs
  - name: Dashboard
    description: Dashboard & statistics APIs
paths:
  /api/v1/auth/register:
    post:
      tags:
        - Auth
      summary: Register new account
      operationId: authRegister
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              sample:
                value:
                  email: student01@dona.edu.vn
                  username: student01
                  password: P@ssw0rd123
                  fullName: Nguyễn Văn A
                  role: STUDENT
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/auth/verify:
    post:
      tags:
        - Auth
      summary: Verify account email by otp
      operationId: authVerify
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
            examples:
              sample:
                value:
                  otp: '245869'
      responses:
        '200':
          description: Verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '404':
          $ref: '#/components/responses/Error404'
  /api/v1/auth/resend-verify:
    post:
      tags:
        - Auth
      summary: Resend verification email
      operationId: authResendVerify
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerifyRequest'
            examples:
              sample:
                value:
                  email: student01@dona.edu.vn
      responses:
        '200':
          description: Sent (always ok to avoid user enumeration)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '429':
          $ref: '#/components/responses/Error429'
  /api/v1/auth/login:
    post:
      tags:
        - Auth
      summary: Login
      operationId: authLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              login_by_email:
                value:
                  usernameOrEmail: student01@dona.edu.vn
                  password: P@ssw0rd123
              login_by_username:
                value:
                  usernameOrEmail: student01
                  password: P@ssw0rd123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
  /api/v1/auth/logout:
    post:
      tags:
        - Auth
      summary: Logout
      operationId: authLogout
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
  /api/v1/auth/me:
    get:
      tags:
        - Auth
      summary: Get current user profile
      operationId: authMe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MeResponse'
        '401':
          $ref: '#/components/responses/Error401'
  /api/v1/auth/forgot-password:
    post:
      tags:
        - Auth
      summary: Send a temporary password to email
      description: Generates a one-time temporary password and sends it to the user's email. Always returns OK to prevent account enumeration.
      operationId: authForgotPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
            examples:
              sample:
                value:
                  email: student01@dona.edu.vn
      responses:
        '200':
          description: Sent (always ok)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '429':
          $ref: '#/components/responses/Error429'
  /api/v1/auth/reset-password:
    post:
      tags:
        - Auth
      summary: Reset password using otp
      operationId: authResetPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
            examples:
              sample:
                value:
                  email: student01@dona.edu.vn
                  otp: '347659'
                  newPassword: NewP@ssw0rd123
      responses:
        '200':
          description: Reset success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '404':
          $ref: '#/components/responses/Error404'
  /api/v1/auth/change-password:
    post:
      tags:
        - Auth
      summary: Change password (logged-in user)
      operationId: authChangePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
            examples:
              sample:
                value:
                  currentPassword: P@ssw0rd123
                  newPassword: NewP@ssw0rd123
      responses:
        '200':
          description: Changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /api/v1/admin/users:
    get:
      tags:
        - Admin
      summary: List users (admin)
      operationId: adminListUsers
      parameters:
        - name: query
          in: query
          required: false
          description: Search by email/username/fullName
          schema:
            type: string
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RegisterRole'
        - name: isLocked
          in: query
          required: false
          schema:
            type: boolean
        - name: isVerified
          in: query
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AdminUserListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /api/v1/admin/users/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Admin
      summary: Get user detail (admin)
      operationId: adminGetUserDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AdminUserDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /api/v1/admin/users/{userId}/lock:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Admin
      summary: Lock a user account
      operationId: adminLockUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLockRequest'
            examples:
              sample:
                value:
                  reason: Suspicious activity / spam
      responses:
        '200':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/admin/users/{userId}/unlock:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Admin
      summary: Unlock a user account
      operationId: adminUnlockUser
      responses:
        '200':
          description: Unlocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/admin/users/{userId}/reset-password:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags:
        - Admin
      summary: Reset user password (admin)
      description: Resets user's password and optionally sends the new password to user's email.
      operationId: adminResetUserPassword
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
            examples:
              empty:
                value: {}
      responses:
        '200':
          description: Reset success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '429':
          $ref: '#/components/responses/Error429'
  /api/v1/users/search:
    get:
      tags:
        - Users
      summary: Search users
      operationId: usersSearch
      parameters:
        - name: query
          in: query
          required: true
          description: Keyword to search by username or fullName
          schema:
            type: string
            minLength: 1
            example: nguyen
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserSearchResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /api/v1/users/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Users
      summary: Get user public profile
      operationId: usersGetById
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserPublicDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /api/v1/rooms:
    post:
      tags:
        - Rooms
      summary: Create room
      operationId: roomCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RoomCreateResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
    get:
      tags:
        - Rooms
      summary: List rooms
      operationId: roomList
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
        - name: isArchived
          in: query
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RoomListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /api/v1/rooms/{roomId}:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Rooms
      summary: Get room detail
      operationId: roomGetDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RoomDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    put:
      tags:
        - Rooms
      summary: Update room
      operationId: roomUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    delete:
      tags:
        - Rooms
      summary: Delete room
      operationId: roomDelete
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/rooms/{roomId}/archive:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Rooms
      summary: Archive room
      operationId: roomArchive
      responses:
        '200':
          description: Archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/rooms/{roomId}/members:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Rooms
      summary: List room members
      operationId: roomListMembers
      parameters:
        - name: query
          in: query
          required: false
          description: Search by username/fullName
          schema:
            type: string
        - name: roleInRoom
          in: query
          required: false
          schema:
            type: string
            enum:
              - OWNER
              - TEACHER
              - STUDENT
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: joinedAt,desc'
          schema:
            type: string
            example: joinedAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RoomMemberListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      tags:
        - Rooms
      summary: Add members to room
      operationId: roomAddMembers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomMemberAddRequest'
            examples:
              add_students:
                value:
                  userIds:
                    - 1001
                    - 1002
                  roleInRoom: STUDENT
      responses:
        '200':
          description: Added
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RoomMemberAddResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/rooms/{roomId}/members/{userId}:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      tags:
        - Rooms
      summary: Remove member from room
      operationId: roomRemoveMember
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/rooms/{roomId}/contests:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags:
        - Contests
      summary: Create contest in room
      operationId: contestCreateInRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContestCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ContestCreateResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    get:
      tags:
        - Contests
      summary: List contests in room
      operationId: contestListInRoom
      parameters:
        - name: query
          in: query
          required: false
          description: Search by title
          schema:
            type: string
        - name: isPublished
          in: query
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ContestListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /api/v1/contests/{contestId}:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Contests
      summary: Get contest detail
      operationId: contestGetDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ContestDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    put:
      tags:
        - Contests
      summary: Update contest
      operationId: contestUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContestUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    delete:
      tags:
        - Contests
      summary: Delete contest
      operationId: contestDelete
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/contests/{contestId}/publish:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Contests
      summary: Publish contest
      operationId: contestPublish
      responses:
        '200':
          description: Published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/contests/{contestId}/unpublish:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Contests
      summary: Unpublish contest
      operationId: contestUnpublish
      responses:
        '200':
          description: Unpublished
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/contests/{contestId}/problems:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Contests
      summary: List problems assigned to contest
      operationId: contestListProblems
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 200
        - name: sort
          in: query
          required: false
          description: 'Example: ordinal,asc'
          schema:
            type: string
            example: ordinal,asc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ContestProblemListResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      tags:
        - Contests
      summary: Assign problems to contest
      operationId: contestAssignProblems
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContestProblemAssignRequest'
            examples:
              sample:
                value:
                  items:
                    - problemId: 101
                      ordinal: 1
                      score: 100
                    - problemId: 102
                      ordinal: 2
                      score: 100
      responses:
        '200':
          description: Assigned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ContestProblemAssignResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/contests/{contestId}/problems/{problemId}:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      tags:
        - Contests
      summary: Remove a problem from contest
      operationId: contestRemoveProblem
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/rooms/{roomId}/problems:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags:
        - Problems
      summary: Create problem in room
      operationId: problemCreateInRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProblemCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProblemCreateResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    get:
      tags:
        - Problems
      summary: List problems in room
      operationId: problemListInRoom
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
        - name: isPublished
          in: query
          required: false
          schema:
            type: boolean
        - name: difficulty
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ProblemDifficulty'
        - name: categoryId
          in: query
          required: false
          description: Filter by CATEGORY.id
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProblemListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /api/v1/problems/{problemId}:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Problems
      summary: Get problem detail
      operationId: problemGetDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProblemDetail'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    put:
      tags:
        - Problems
      summary: Update problem
      operationId: problemUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProblemUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
    delete:
      tags:
        - Problems
      summary: Delete problem
      operationId: problemDelete
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/problems/{problemId}/publish:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Problems
      summary: Publish problem
      operationId: problemPublish
      responses:
        '200':
          description: Published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/problems/{problemId}/unpublish:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags:
        - Problems
      summary: Unpublish problem
      operationId: problemUnpublish
      responses:
        '200':
          description: Unpublished
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/problems/{problemId}/testcases:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags:
        - Problems
      summary: Upload/Replace testcase set
      description: |
        Upload a zip file containing testcases and replace the whole set for the problem.
        Server extracts zip, validates ordinals, stores files, and updates testcase records.
      operationId: problemTestcasesUpload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TestcaseUploadRequest'
            examples:
              replace_zip:
                summary: Replace testcase set with a zip file
                value:
                  mode: REPLACE
      responses:
        '200':
          description: Uploaded/Replaced
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TestcaseUploadResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '415':
          $ref: '#/components/responses/Error415'
    delete:
      tags:
        - Problems
      summary: Delete all testcases of a problem
      operationId: problemTestcasesDeleteAll
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TestcaseDeleteResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/problems/{problemId}/testcases/meta:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Problems
      summary: Get testcase set metadata
      description: |
        Returns metadata of current testcase set:
        - totalTests
        - totalSizeBytes
        - hasHidden
      operationId: problemTestcasesGetMeta
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TestcaseMetaResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /api/v1/problems/{problemId}/submissions:
    parameters:
      - name: problemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags:
        - Submissions
      summary: Create a submission for a problem
      operationId: submissionCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionCreateRequest'
            examples:
              practice:
                value:
                  language: CPP
                  sourceCode: |-
                    #include <bits/stdc++.h>
                    int main(){long long a,b;std::cin>>a>>b;std::cout<<a+b;}
              contest:
                value:
                  contestId: 501
                  language: CPP
                  sourceCode: |-
                    #include <bits/stdc++.h>
                    int main(){long long a,b;std::cin>>a>>b;std::cout<<a+b;}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SubmissionCreatedResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/submissions:
    get:
      tags:
        - Submissions
      summary: List my submissions
      operationId: submissionListMine
      parameters:
        - name: roomId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: contestId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: problemId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: judgeStatus
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/JudgeStatus'
        - name: verdict
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Verdict'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SubmissionListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
  /api/v1/submissions/{submissionId}:
    parameters:
      - name: submissionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Submissions
      summary: Get submission detail
      operationId: submissionGetDetail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SubmissionDetailResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /api/v1/rooms/{roomId}/submissions:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Submissions
      summary: List submissions in a room (teacher/admin)
      operationId: submissionListByRoom
      parameters:
        - name: contestId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: problemId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: userId
          in: query
          required: false
          description: Filter by student userId
          schema:
            type: integer
            format: int64
        - name: judgeStatus
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/JudgeStatus'
        - name: verdict
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Verdict'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: createdAt,desc'
          schema:
            type: string
            example: createdAt,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SubmissionListResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /api/v1/contests/{contestId}/leaderboard:
    parameters:
      - name: contestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - Leaderboard
      summary: Get contest leaderboard (paged)
      operationId: contestGetLeaderboard
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 200
        - name: sort
          in: query
          required: false
          description: 'Example: totalScore,desc | rank,asc | lastSubmissionAt,asc'
          schema:
            type: string
            example: totalScore,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LeaderboardPagedResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /api/v1/health:
    get:
      tags:
        - Health
      summary: Health check
      operationId: healthRoot
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/HealthResponse'
  /api/v1/health/judge:
    get:
      tags:
        - Health
      summary: Judge service health check
      operationId: healthJudge
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/JudgeHealthResponse'
  /contests/active-upcoming:
    get:
      tags:
        - Dashboard
      summary: List active & upcoming contests
      operationId: contestsActiveUpcoming
      parameters:
        - name: roomId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          required: false
          description: 'Example: startAt,asc'
          schema:
            type: string
            example: startAt,asc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ContestActiveUpcomingPagedResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /stats/top-ac-users:
    get:
      tags:
        - Dashboard
      summary: Top users by AC count
      operationId: statsTopAcUsers
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 5
            minimum: 1
            maximum: 50
        - name: roomId
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TopAcUsersResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /me/problems/next-unsolved:
    get:
      tags:
        - Dashboard
      summary: Get latest problem that current user has not solved (no AC yet)
      operationId: meNextUnsolvedProblem
      parameters:
        - name: roomId
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/NextUnsolvedProblemResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
  /me/problems/progress:
    get:
      tags:
        - Dashboard
      summary: Get current user AC progress by difficulty
      operationId: meProblemProgress
      parameters:
        - name: roomId
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProblemProgressResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
  /rooms/{roomId}/join:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    post:
      tags:
        - Rooms
      summary: Join room (self) by code and password
      operationId: roomJoin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomJoinRequest'
            examples:
              sample:
                value:
                  code: BL-2026-A1
                  password: room@123
      responses:
        '200':
          description: Joined
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RoomJoinResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '429':
          $ref: '#/components/responses/Error429'
  /rooms/{roomId}/members/me:
    parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      tags:
        - Rooms
      summary: Leave room (self)
      operationId: roomLeaveMe
      responses:
        '200':
          description: Left
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseVoid'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    RegisterRole:
      type: string
      enum:
        - STUDENT
        - TEACHER
      example: STUDENT
    RegisterRequest:
      type: object
      required:
        - email
        - username
        - password
        - fullName
      properties:
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
        username:
          type: string
          description: Unique username for login / display
          minLength: 3
          maxLength: 30
          pattern: ^[a-zA-Z0-9_\.]+$
          example: student01
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 72
          example: P@ssw0rd123
        fullName:
          type: string
          minLength: 1
          maxLength: 100
          example: Nguyễn Văn A
        role:
          $ref: '#/components/schemas/RegisterRole'
    SuccessResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          enum:
            - true
          example: true
        data: {}
    RegisterResponse:
      type: object
      required:
        - userId
        - email
        - username
        - fullName
        - isVerified
      properties:
        userId:
          type: integer
          format: int64
          example: 1001
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
        username:
          type: string
          example: student01
        fullName:
          type: string
          example: Nguyễn Văn A
        role:
          $ref: '#/components/schemas/RegisterRole'
        isVerified:
          type: boolean
          example: false
    ErrorItem:
      type: object
      required:
        - fieldName
        - code
        - message
      properties:
        fieldName:
          type: string
          example: email
        code:
          type: string
          example: E_INVALID_FIELD_FORMAT
        message:
          type: string
          example: Email is invalid
    ErrorResponse:
      type: object
      required:
        - success
        - message
        - errorCode
        - errors
      properties:
        success:
          type: boolean
          enum:
            - false
          example: false
        message:
          type: string
          example: Validation failed
        errorCode:
          type: string
          example: E_VALIDATION
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorItem'
    VerifyRequest:
      type: object
      required:
        - otp
      properties:
        otp:
          type: string
          description: Verify otp from email
          example: vfy_eyJhbGciOi...
    SuccessResponseVoid:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          enum:
            - true
          example: true
        data:
          type: object
          nullable: true
          example: null
    ResendVerifyRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
    LoginRequest:
      type: object
      required:
        - usernameOrEmail
        - password
      properties:
        usernameOrEmail:
          type: string
          description: Email or username
          example: student01@dona.edu.vn
        password:
          type: string
          format: password
          example: P@ssw0rd123
    LoginResponse:
      type: object
      required:
        - accessToken
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    MeResponse:
      type: object
      required:
        - id
        - email
        - username
        - fullName
        - role
        - isVerified
      properties:
        id:
          type: integer
          format: int64
          example: 1001
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
        username:
          type: string
          example: student01
        fullName:
          type: string
          example: Nguyễn Văn A
        role:
          type: string
          example: STUDENT
        isVerified:
          type: boolean
          example: true
    ForgotPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
    ResetPasswordRequest:
      type: object
      required:
        - email
        - otp
        - newPassword
      properties:
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
          description: Email
        otp:
          type: string
          example: '12345'
          description: Reset otp from email
        newPassword:
          type: string
          minLength: 8
          example: NewP@ssw0rd123
          description: New password to be set for the user
    ChangePasswordRequest:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
          format: password
          example: P@ssw0rd123
        newPassword:
          type: string
          format: password
          minLength: 8
          example: NewP@ssw0rd123
    AdminUserSummary:
      type: object
      required:
        - id
        - email
        - username
        - fullName
        - role
        - isVerified
        - isLocked
        - createdAt
      properties:
        id:
          type: integer
          format: int64
          example: 1001
        email:
          type: string
          format: email
          example: student01@dona.edu.vn
        username:
          type: string
          example: student01
        fullName:
          type: string
          example: Nguyễn Văn A
        role:
          type: string
          example: STUDENT
        isVerified:
          type: boolean
          example: true
        isLocked:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
    Paging:
      type: object
      required:
        - page
        - size
        - totalElements
        - totalPages
        - hasNext
      properties:
        page:
          type: integer
          format: int32
          minimum: 0
          example: 0
        size:
          type: integer
          format: int32
          minimum: 1
          example: 20
        totalElements:
          type: integer
          format: int64
          example: 1250
        totalPages:
          type: integer
          format: int32
          example: 63
        hasNext:
          type: boolean
          example: true
    AdminUserListResponse:
      type: object
      required:
        - items
        - page
        - size
        - total
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdminUserSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    AdminUserDetail:
      allOf:
        - $ref: '#/components/schemas/AdminUserSummary'
        - type: object
          properties:
            lockedAt:
              type: string
              format: date-time
              nullable: true
            lockReason:
              type: string
              nullable: true
    AdminLockRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          maxLength: 255
          example: Suspicious activity / spam
    UserPublicSummary:
      type: object
      required:
        - id
        - username
        - fullName
      properties:
        id:
          type: integer
          format: int64
          example: 1001
        username:
          type: string
          example: student01
        fullName:
          type: string
          example: Nguyễn Văn A
        avatarUrl:
          type: string
          nullable: true
          example: https://cdn.example.com/avatars/1001.png
    UserSearchResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserPublicSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    UserPublicDetail:
      type: object
      required:
        - id
        - username
        - fullName
      properties:
        id:
          type: integer
          format: int64
          example: 1001
        username:
          type: string
          example: student01
        fullName:
          type: string
          example: Nguyễn Văn A
        avatarUrl:
          type: string
          nullable: true
          example: https://cdn.example.com/avatars/1001.png
        bio:
          type: string
          nullable: true
          example: Học sinh lớp 10 chuyên Toán
        createdAt:
          type: string
          format: date-time
          nullable: true
    RoomSummary:
      type: object
      required:
        - id
        - name
        - isArchived
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Lớp 10A1 - Tin học
        isPublic:
          type: boolean
          example: false
        isArchived:
          type: boolean
          example: false
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: integer
          format: int64
          description: Creator userId
          example: 9001
    RoomListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RoomSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    RoomCreateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
          example: Lớp 10A1 - Tin học
        description:
          type: string
          nullable: true
          maxLength: 2000
          example: Phòng luyện tập và thi thử
        startAt:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-01T00:00:00Z'
        endAt:
          type: string
          format: date-time
          nullable: true
          example: '2026-06-01T00:00:00Z'
        isPublic:
          type: boolean
          default: false
          example: false
    RoomCreateResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
          example: 1
    RoomDetail:
      allOf:
        - $ref: '#/components/schemas/RoomSummary'
        - type: object
          properties:
            description:
              type: string
              nullable: true
            archivedAt:
              type: string
              format: date-time
              nullable: true
    RoomUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 2000
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        isPublic:
          type: boolean
          nullable: true
    RoomMemberSummary:
      type: object
      required:
        - userId
        - username
        - fullName
        - roleInRoom
        - joinedAt
      properties:
        userId:
          type: integer
          format: int64
          example: 1001
        username:
          type: string
          example: student01
        fullName:
          type: string
          example: Nguyễn Văn A
        roleInRoom:
          type: string
          description: Role of the user inside the room
          enum:
            - OWNER
            - TEACHER
            - STUDENT
          example: STUDENT
        joinedAt:
          type: string
          format: date-time
          example: '2026-02-26T10:00:00Z'
    RoomMemberListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RoomMemberSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    RoomMemberAddRequest:
      type: object
      required:
        - userIds
      properties:
        userIds:
          type: array
          minItems: 1
          items:
            type: integer
            format: int64
          example:
            - 1001
            - 1002
        roleInRoom:
          type: string
          nullable: true
          enum:
            - TEACHER
            - STUDENT
          description: Optional. Default STUDENT if omitted.
          example: STUDENT
    RoomMemberAddResponse:
      type: object
      required:
        - addedCount
      properties:
        addedCount:
          type: integer
          format: int32
          example: 2
    ContestSummary:
      type: object
      required:
        - id
        - roomId
        - title
        - isPublished
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          example: 501
        roomId:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: Thi thử vòng 1 - Tuần 3
        isPublic:
          type: boolean
          example: false
        isPublished:
          type: boolean
          example: false
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: integer
          format: int64
          example: 9001
    ContestListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ContestSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    ContestCreateRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          example: Thi thử vòng 1 - Tuần 3
        description:
          type: string
          nullable: true
          maxLength: 5000
          example: Contest luyện tập cho học sinh
        startAt:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-05T01:00:00Z'
        endAt:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-05T03:00:00Z'
        isPublic:
          type: boolean
          default: false
          example: false
    ContestCreateResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
          example: 501
    ContestDetail:
      allOf:
        - $ref: '#/components/schemas/ContestSummary'
        - type: object
          properties:
            description:
              type: string
              nullable: true
            publishedAt:
              type: string
              format: date-time
              nullable: true
    ContestUpdateRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 5000
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        isPublic:
          type: boolean
          nullable: true
    ContestProblemSummary:
      type: object
      required:
        - problemId
        - ordinal
        - score
      properties:
        problemId:
          type: integer
          format: int64
          example: 101
        ordinal:
          type: integer
          format: int32
          description: Problem order in contest (1..N)
          example: 1
        score:
          type: number
          format: float
          description: Max score for this problem in contest
          example: 100
        title:
          type: string
          nullable: true
          description: Optional problem title for display
          example: A + B
        isPublished:
          type: boolean
          nullable: true
          description: Optional problem publish flag (if your system has it)
          example: true
    ContestProblemListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ContestProblemSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    ContestProblemAssignItem:
      type: object
      required:
        - problemId
      properties:
        problemId:
          type: integer
          format: int64
          example: 101
        ordinal:
          type: integer
          format: int32
          nullable: true
          description: Optional. If omitted, append to the end.
          example: 1
        score:
          type: number
          format: float
          nullable: true
          description: Optional. If omitted, use default problem max score.
          example: 100
    ContestProblemAssignRequest:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ContestProblemAssignItem'
    ContestProblemAssignResponse:
      type: object
      required:
        - assignedCount
      properties:
        assignedCount:
          type: integer
          format: int32
          example: 2
    ProblemDifficulty:
      type: string
      enum:
        - EASY
        - MEDIUM
        - HARD
      example: EASY
    CategorySummary:
      type: object
      required:
        - id
        - type
        - name
      properties:
        id:
          type: integer
          format: int64
          example: 10
        type:
          type: string
          description: Category type from DB (e.g. PROBLEM_CATEGORY, TOPIC, ...)
          example: PROBLEM_CATEGORY
        name:
          type: string
          example: Dynamic Programming
        description:
          type: string
          nullable: true
          example: Techniques for solving optimization problems
      example:
        id: 10
        type: PROBLEM_CATEGORY
        name: Math
        description: Basic math problems
    ProblemSummary:
      type: object
      required:
        - id
        - roomId
        - title
        - difficulty
        - categories
        - isPublished
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          example: 101
        roomId:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: A + B
        difficulty:
          $ref: '#/components/schemas/ProblemDifficulty'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategorySummary'
        isPublished:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: integer
          format: int64
          example: 9001
    ProblemListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProblemSummary'
        paging:
          $ref: '#/components/schemas/Paging'
      example:
        data:
          - id: 101
            roomId: 1
            title: A + B
            difficulty: EASY
            categories:
              - id: 10
                type: PROBLEM_CATEGORY
                name: Math
                description: Basic math problems
            isPublished: true
            createdAt: '2026-03-05T09:00:00Z'
            createdBy: 9001
          - id: 102
            roomId: 1
            title: Two Sum
            difficulty: MEDIUM
            categories:
              - id: 12
                type: PROBLEM_CATEGORY
                name: Array
                description: null
            isPublished: false
            createdAt: '2026-03-05T09:10:00Z'
            createdBy: 9001
        paging:
          page: 0
          size: 20
          totalElements: 1250
          totalPages: 63
          hasNext: true
    ProblemCreateRequest:
      type: object
      required:
        - title
        - statement
        - difficulty
        - timeLimitMs
        - memoryLimitMb
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          example: A + B
        statement:
          type: string
          minLength: 1
          maxLength: 50000
          example: Given two integers a and b, output a+b.
        difficulty:
          $ref: '#/components/schemas/ProblemDifficulty'
        categoryIds:
          type: array
          description: Category IDs (CATEGORY.id). Problem can belong to multiple categories.
          items:
            type: integer
            format: int64
          example:
            - 10
            - 12
        timeLimitMs:
          type: integer
          format: int32
          minimum: 100
          maximum: 60000
          example: 1000
        memoryLimitMb:
          type: integer
          format: int32
          minimum: 32
          maximum: 2048
          example: 256
    ProblemCreateResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
          example: 101
    ProblemDetail:
      type: object
      required:
        - id
        - roomId
        - title
        - statement
        - difficulty
        - categories
        - timeLimitMs
        - memoryLimitMb
        - isPublished
        - createdAt
        - createdBy
      properties:
        id:
          type: integer
          format: int64
          example: 101
        roomId:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: A + B
        difficulty:
          $ref: '#/components/schemas/ProblemDifficulty'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategorySummary'
        statement:
          type: string
          example: Given two integers a and b, output a+b.
        timeLimitMs:
          type: integer
          format: int32
          example: 1000
        memoryLimitMb:
          type: integer
          format: int32
          example: 256
        isPublished:
          type: boolean
          example: false
        publishedAt:
          type: string
          format: date-time
          nullable: true
          example: null
        createdAt:
          type: string
          format: date-time
          example: '2026-03-05T09:00:00Z'
        createdBy:
          type: integer
          format: int64
          example: 9001
        updatedAt:
          type: string
          format: date-time
          nullable: true
          example: '2026-03-05T09:30:00Z'
        updatedBy:
          type: integer
          format: int64
          nullable: true
          example: 9001
      example:
        id: 101
        roomId: 1
        title: A + B
        difficulty: EASY
        categories:
          - id: 10
            type: PROBLEM_CATEGORY
            name: Math
            description: Basic math problems
        statement: Given two integers a and b, output a+b.
        timeLimitMs: 1000
        memoryLimitMb: 256
        isPublished: false
        publishedAt: null
        createdAt: '2026-03-05T09:00:00Z'
        createdBy: 9001
        updatedAt: '2026-03-05T09:30:00Z'
        updatedBy: 9001
    ProblemUpdateRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        statement:
          type: string
          minLength: 1
          maxLength: 50000
        difficulty:
          $ref: '#/components/schemas/ProblemDifficulty'
        categoryIds:
          type: array
          description: Replace categories by IDs (CATEGORY.id)
          items:
            type: integer
            format: int64
          example:
            - 10
            - 12
        timeLimitMs:
          type: integer
          format: int32
          minimum: 100
          maximum: 60000
        memoryLimitMb:
          type: integer
          format: int32
          minimum: 32
          maximum: 2048
    TestcaseUploadRequest:
      type: object
      description: Upload/replace testcase set for a problem
      properties:
        mode:
          type: string
          enum:
            - REPLACE
          default: REPLACE
          example: REPLACE
        file:
          type: string
          format: binary
          description: Zip file containing testcases (inputs/outputs + optional manifest)
        manifest:
          type: string
          nullable: true
          description: Optional JSON manifest (if provided as a text field in multipart). See TestcaseManifest.
          example: null
    TestcaseUploadResponse:
      type: object
      required:
        - problemId
        - totalTests
        - totalSizeBytes
      properties:
        problemId:
          type: integer
          format: int64
          example: 101
        totalTests:
          type: integer
          format: int32
          example: 20
        totalSizeBytes:
          type: integer
          format: int64
          example: 5242880
    TestcaseDeleteResponse:
      type: object
      required:
        - problemId
        - deletedCount
      properties:
        problemId:
          type: integer
          format: int64
          example: 101
        deletedCount:
          type: integer
          format: int32
          example: 20
    TestcaseMetaResponse:
      type: object
      required:
        - problemId
        - totalTests
        - totalSizeBytes
        - updatedAt
      properties:
        problemId:
          type: integer
          format: int64
          example: 101
        totalTests:
          type: integer
          format: int32
          example: 20
        totalSizeBytes:
          type: integer
          format: int64
          example: 5242880
        hasHidden:
          type: boolean
          example: true
        updatedAt:
          type: string
          format: date-time
          example: '2026-03-05T10:00:00Z'
    LanguageCode:
      type: string
      description: Supported languages
      enum:
        - CPP
        - PY
    SubmissionCreateRequest:
      type: object
      required:
        - language
        - sourceCode
      properties:
        contestId:
          type: integer
          format: int64
          nullable: true
          description: Null = practice. Non-null = submit in contest context.
          example: 501
        language:
          $ref: '#/components/schemas/LanguageCode'
        sourceCode:
          type: string
          description: Plain source code (Phase 1)
          maxLength: 200000
    JudgeStatus:
      type: string
      enum:
        - QUEUED
        - JUDGING
        - DONE
        - FAILED
    SubmissionCreatedResponse:
      type: object
      required:
        - id
        - judgeStatus
        - createdAt
      properties:
        id:
          type: integer
          format: int64
          example: 123
        judgeStatus:
          $ref: '#/components/schemas/JudgeStatus'
        createdAt:
          type: string
          format: date-time
    Verdict:
      type: string
      enum:
        - AC
        - WA
        - RE
        - TLE
        - CE
    SubmissionSummary:
      type: object
      required:
        - id
        - problemId
        - userId
        - language
        - judgeStatus
        - createdAt
      properties:
        id:
          type: integer
          format: int64
        roomId:
          type: integer
          format: int64
          nullable: true
        contestId:
          type: integer
          format: int64
          nullable: true
        problemId:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        language:
          $ref: '#/components/schemas/LanguageCode'
        judgeStatus:
          $ref: '#/components/schemas/JudgeStatus'
        verdict:
          $ref: '#/components/schemas/Verdict'
        score:
          type: number
          format: float
          nullable: true
          description: Contest score (if contestId != null)
        totalTimeMs:
          type: integer
          format: int32
          nullable: true
          description: max(timeMs) across tests. Null if CE or not ready.
        createdAt:
          type: string
          format: date-time
    SubmissionListResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SubmissionSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    PerTestVerdict:
      type: string
      enum:
        - AC
        - WA
        - RE
        - TLE
    PerTestResult:
      type: object
      required:
        - testNo
        - verdict
        - timeMs
      properties:
        testNo:
          type: integer
          format: int32
          description: 1..N
        verdict:
          $ref: '#/components/schemas/PerTestVerdict'
        timeMs:
          type: integer
          format: int32
        memoryKb:
          type: integer
          format: int32
          nullable: true
    SubmissionDetailResponse:
      type: object
      required:
        - id
        - problemId
        - userId
        - language
        - judgeStatus
        - createdAt
      properties:
        id:
          type: integer
          format: int64
        roomId:
          type: integer
          format: int64
          nullable: true
        contestId:
          type: integer
          format: int64
          nullable: true
        problemId:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        language:
          $ref: '#/components/schemas/LanguageCode'
        judgeStatus:
          $ref: '#/components/schemas/JudgeStatus'
        verdict:
          $ref: '#/components/schemas/Verdict'
        score:
          type: number
          format: float
          nullable: true
        totalTimeMs:
          type: integer
          format: int32
          nullable: true
        compileLog:
          type: string
          nullable: true
          description: Present when verdict=CE
        testResults:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/PerTestResult'
          description: Present when judgeStatus=DONE and verdict != CE
        sourceCode:
          type: string
          nullable: true
          description: Owner can see; teacher/admin may see based on policy
    LeaderboardRow:
      type: object
      required:
        - rank
        - userId
        - username
        - fullName
        - totalScore
      properties:
        rank:
          type: integer
          format: int32
          example: 1
        userId:
          type: integer
          format: int64
          example: 1001
        username:
          type: string
          example: student01
        fullName:
          type: string
          example: Nguyễn Văn A
        problemScores:
          type: array
          description: Scores aligned with contest problems order
          items:
            type: number
            format: float
          example:
            - 100
            - 80
            - 100
        totalScore:
          type: number
          format: float
          example: 280
        lastSubmissionAt:
          type: string
          format: date-time
          nullable: true
    LeaderboardPagedResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LeaderboardRow'
        paging:
          $ref: '#/components/schemas/Paging'
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          example: UP
        timestamp:
          type: string
          format: date-time
        details:
          type: object
          nullable: true
          additionalProperties: true
    JudgeHealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          example: UP
        timestamp:
          type: string
          format: date-time
        queueDepth:
          type: integer
          format: int32
          nullable: true
          example: 0
        workers:
          type: integer
          format: int32
          nullable: true
          example: 2
        details:
          type: object
          nullable: true
          additionalProperties: true
    ContestActiveUpcomingPagedResponse:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ContestSummary'
        paging:
          $ref: '#/components/schemas/Paging'
    TopAcUserRow:
      type: object
      required:
        - rank
        - userId
        - username
        - displayName
        - acCount
      properties:
        rank:
          type: integer
          format: int32
          example: 1
        userId:
          type: integer
          format: int64
          example: 1001
        username:
          type: string
          example: student01
        displayName:
          type: string
          example: Nguyễn Văn A
        acCount:
          type: integer
          format: int32
          example: 120
    TopAcUsersResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TopAcUserRow'
    NextUnsolvedProblem:
      type: object
      required:
        - problemId
        - title
        - difficulty
      properties:
        problemId:
          type: integer
          format: int64
          example: 101
        roomId:
          type: integer
          format: int64
          nullable: true
          example: 1
        title:
          type: string
          example: A + B
        difficulty:
          type: string
          example: EASY
        createdAt:
          type: string
          format: date-time
          nullable: true
    NextUnsolvedProblemResponse:
      type: object
      required:
        - problem
      properties:
        problem:
          $ref: '#/components/schemas/NextUnsolvedProblem'
    ProgressBucket:
      type: object
      required:
        - difficulty
        - ac
        - total
      properties:
        difficulty:
          type: string
          example: HARD
        ac:
          type: integer
          format: int32
          example: 5
        total:
          type: integer
          format: int32
          example: 10
    ProblemProgressResponse:
      type: object
      required:
        - buckets
      properties:
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/ProgressBucket'
    RoomJoinRequest:
      type: object
      required:
        - code
        - password
      properties:
        code:
          type: string
          description: Room join code
          minLength: 3
          maxLength: 50
          example: BL-2026-A1
        password:
          type: string
          format: password
          description: Room password
          minLength: 1
          maxLength: 100
          example: room@123
    RoomJoinResponse:
      type: object
      required:
        - roomId
[...]
